<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="pdoc {{ __version__ }}"/>
    <title>{% block title %}{% endblock %}</title>
    {% block favicon %}
        {% if favicon %}
            <link rel="icon" href="{{ favicon }}"/>
        {% endif %}
    {% endblock %}
    {% block head %}{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    {% filter minify_css | indent %}
        {% block style %}
            <style>{% include "resources/bootstrap-reboot.min.css" %}</style>
            <style>{% include "syntax-highlighting.css" %}</style>
            {% block style_pdoc %}
                {% block style_theme %}<style>{% include "theme.css" %}</style>{% endblock %}
                {% block style_layout %}<style>{% include "layout.css" %}</style>{% endblock %}
                {% block style_content %}<style>{% include "content.css" %}</style>{% endblock %}
                <style>{% include "custom.css" %}</style>
            {% endblock %}
        {% endblock %}
        {% if math %}{% include "math.html.jinja2" %}{% endif %}
        {% if mermaid %}{% include "mermaid.html.jinja2" %}{% endif %}
    {%- endfilter %}
</head>
<body>
{% block body %}
    <nav class="pdoc">
        <label id="navtoggle" for="togglestate" class="pdoc-button">{% include 'resources/navtoggle.svg' %}</label>
        <input id="togglestate" type="checkbox" aria-hidden="true" tabindex="-1">
        <div>{% block nav %}{% endblock %}</div>
    </nav>
    {% block content %}{% endblock %}
{% endblock body %}
</body>
</html>
